<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050393278185-rpj0c1ass4hdjiajiteb9akvnmkdrm3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050393278185-rpj0c1ass4hdjiajiteb9akvnmkdrm3s</string>
	<key>API_KEY</key>
	<string>AIzaSyAT6UnHroUOhathgh9iV-AihvXRGGZjuig</string>
	<key>GCM_SENDER_ID</key>
	<string>1050393278185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bargainai0102589</string>
	<key>PROJECT_ID</key>
	<string>bargainia-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>bargainia-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050393278185:ios:7516189ebb2f65a988e278</string>
</dict>
</plist>