<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829495684643-oe5crj0jpqmrsh1m4t6rael8h2iab2jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829495684643-oe5crj0jpqmrsh1m4t6rael8h2iab2jl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829495684643-tfhsfi5n918pfcim0amckb7b8hb246fr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCulo4VnGlZtEJb4AD4HhudPPWgHSvv8ls</string>
	<key>GCM_SENDER_ID</key>
	<string>829495684643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bargainai0102589</string>
	<key>PROJECT_ID</key>
	<string>bargainia-3c641</string>
	<key>STORAGE_BUCKET</key>
	<string>bargainia-3c641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829495684643:ios:063b160f8b03b806cb8b96</string>
</dict>
</plist>